#internalPageBodyStyle {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


#internalPageText {
    width: 50%;
    height: auto;
}

h4 {
    font-family: 'Roboto', sans-serif;
    color: darkslategray;
    font-size: 1.15rem;
}

ul {
    font-family: 'Roboto', sans-serif;
    color: darkslategray;
    font-size: 1.15rem;
}

@media all and (min-width: 0px) and (max-width: 991px) {

    header {
        /*display: flex;
        flex-direction: row;
        justify-content: center;*/
        height: 10vh;
        background-color: cornflowerblue;

    }

    nav {
        top: 10vh;
        height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: cornflowerblue;
        display: none;
    }

    .navlinks {
        border-bottom: 5px solid white;
        font-size: 2rem;
        font-family: 'Roboto', sans-serif;
        width: 100%;
        height: 18vh;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-around;


    }


    #menu-toggle {

        height: 10vh;
        width: 10vh;
        border: 0px solid #ffffff;
        background-color: cornflowerblue;
        position: absolute;
        right: 0;
    }


    #menu-toggle img {

        height: 7vh;
        width: 7vh%;
        max-height: 100%;
        max-width: 100%;
        margin-top: 12%;


    }

    .separator {
        display: none;
    }

    #jobSeekerBanner {
        margin-top: 10vh;
    }


    #logo {
        height: 17vh;
        width: 80vw;
        z-index: 1;
        margin-left: 5%;


    }

    #logo img {


        max-height: 100%;
        max-width: 100%;


    }

    #missionStatement {
        display: none;
    }

    #fourNavs {
        display: flex;
        flex-direction: column;
        height: auto;
        padding-top: 0;

    }

    .fourNavLinks {
        margin: 1rem;
        width: 100%;
        min-height: 10vh;
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        line-height: 10vh;
    }

    #internalPageBodyStyle {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #internalPageText {
        width: 100%;
        height: auto;
        padding: 2%;
    }



}
